. text{
    -fx-font-size: 25px;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: #fe9677;
}

.button{
    -fx-font-size: 12px;
    -fx-background-color: #41436A;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
}
.button:hover{
    -fx-background-color: #fe9677;
}